QToolBar{
    border     : 1px solid rgb(100, 100, 100);
	background : rgb(60, 60, 60);
}
QToolBar::separator{
    background : rgb(100, 100, 100);
    width      : 1px;
}
QToolBar::handle{
    border-left : 2px ridge rgb(100, 100, 100);
}
